body{
    margin: 0;
    padding: 0;
}

.Cuerpo{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculadora {
    width: 400px;
    height: 450px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 1px 29px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85px;
    grid-gap: 20px;
}

.Pantalla{
    background-color: #414141;
    border-radius: 10px;
    color: #57e8ff;
    padding: 15px;
    grid-column: 1 / 5;
}

.Pantalla > input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 50px;
    width: 100%;
}

.btn-cal{
    background-color: white;
}

.btn-cal-radius{
    border-radius: 10px;
}

.btn-cal > input{
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #7e7e7e;
    font-size: 35px;
}

.btn-cal > .equal{
    background-color: #fffb88;
}

.btn-cal > .clean{
    background-color: #98f8ab;
}

.btn-cal :hover{
    transition-duration: 0.4s;
    background-color: #ffb497;
    color: white;
}

.btn-clean :hover{
    transition-duration: 0.4s;
    background-color: #cc2c2c;
    color: white;
}

.btn-equal :hover{
    transition-duration: 0.4s;
    background-color: #3a45e0;
    color: black;
}

