
.header1
{
    text-align: right;
        margin-top: 2mm;
        margin-right: 6mm;
        width: 1350px;
        height: 35px;
}

.header2
{
    text-align: right;
        margin-top: 2mm;
        margin-right: 6mm;
        width: 1350px;
        height: 35px;

}


.header3
{
        text-align: left;
        margin-top: -9.2mm;
        margin-left: 35mm;
        width: 220px;
        height: 35px;

}

.header3a
{
        text-align: left;
        margin-top: -7.1mm;
        margin-left: 160px;
        width: 70px;
        height: 30px;
        background: linear-gradient(
                        white,
                        lightblue
        );
}

.cuadrop
{
        margin-top: -11mm;
        margin-left: -1px;
        margin-right: 40px;
        width: 70px;
        height: 42px;
        background-color: white;
       
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;
        
}

.cuadropp
{
        margin-top: -11mm;
        margin-left: 68px;
        margin-right: 40px;
        width: 70px;
        height: 42px;
        background-color: white;
       
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;

        background: linear-gradient(
                white,
                lightblue
);
        
}


.cuadroleer
{
        margin-top: -10mm;
        margin-left: 700px;
        margin-right: 40px;
        width: 70px;
        height: 37px;
        display: flex;
        background-color: white;
       
        border-left: 1px solid #add8e6;
        border-right: 1px solid #add8e6;
        
}


.cuadrocod
      {
              margin-top: -10mm;
              margin-left: 769px;
              margin-right: 40px;
              width: 80px;
              height: 37px;
              display: flex;
              background-color: white;
             
              border-left: 1px solid #add8e6;
              border-right: 1px solid #add8e6;
      
              background: linear-gradient(
                      white,
                      lightblue
      );
}



      .cuadrohist
      {
              margin-top: -10mm;
              margin-left: 848px;
              margin-right: 40px;
              width: 90px;
              height: 38px;
              display: flex;
              background-color: white;
             
              border-left: 1px solid #add8e6;
              border-right: 1px solid #add8e6;
      
              background: linear-gradient(
                      white,
                      lightblue
      );
}



.caja

{

        
        margin-top: 0mm;
        margin-left: 90px;
        margin-right: 100px;
        width: 1142px;
        height: 2310px;
        border-top: 1px solid lightblue;
        border-bottom: 1px solid lightblue;
        border-left: 1px solid lightblue;
}


.caja1

{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 170px;
        width: 1082px;
        height: 153px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid gray;
        border-bottom: 2px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        
}

.texto1
{
        position: absolute;
        font-size: 7mm;
    top: 40px;
    left: 25px;
}

.texto1a
{
        position: absolute;
        font-size: 4mm;
    top: 75px;
    left: 25px;
}

.texto1b
{
        position: absolute;
        font-size: 4mm;
    top: 100px;
    left: 25px;
}

.texto1c
{
        position: absolute;
        font-size: 4mm;
    top: 51px;
    left: 850px;
}

.Tablita
{
        top: 85px;
        width:500px;
        left: 625px;
        font:normal 14px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
        

}

.Info
{
        margin-top: 190px;
        margin-left: 20px;
        margin-right: 170px;
        width: 540px;
        height: 530px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.ImagenInfo
{
        margin-top: 80px;
        margin-left: 355px;
        margin-right: 120px;
        position: absolute;
        display: inline-block;
        width: 170px;
        height: 240px;
        background-color: whitesmoke;
}

.Infoa
{
        margin-top: 10px;
        color: gray;
}

.Infoab
{
        margin-top: 5px;
        margin-left: 10px;
        font-size: 5mm;
       
}



.Infoabb
{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 190px;
        text-align: justify;
        font-size: 4mm;
        
}

.Infoabbb
{
        margin-top: 1px;
        margin-left: 10px;
        margin-right: 14px;
        text-align: justify;
        font-size: 4mm;
        
}

.Boton
{
        margin-top: 30px;
        margin-left: 10px;
        width: 55px;
        height: 30px;
        display: flex;
        cursor: pointer;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        background-color: whitesmoke;
}

.Boton:hover
{
        background-color: white;
}

.Tablita1
{
        margin-top: -25px;
        width:195px;
        margin-left: 80px;
        font:normal 14px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
        
}



.Info1
{
        margin-top: 190px;
        margin-left: 575px;
        margin-right: 170px;
        width: 527px;
        height: 1200px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.Infoc
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 5mm;
}

.Infoca
{
        margin-top: 7px;
        margin-left: 1px;
        font-size: 4mm;
}

.Infocb
{
        margin-top: 7px;
        margin-left: 15px;
        font-size: 4mm;
}

.Infocbb
{
        margin-top: 14px;
        margin-left: 1px;
        margin-right: 130px;
        font-size: 4mm;
}

.Infocbba
{
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 130px;
        font-size: 4mm;
}

.Infocbbb
{
        margin-top: 10px;
        margin-left: 1px;
        margin-right: 130px;
        font-size: 4mm;
}

.Infoccbb
{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 50px;
        font-size: 4mm;
}

.ImagenInfo1
{
        margin-top: -500px;
        margin-left: 400px;
        
        
}

.ImagenInfo1a
{
        margin-top: -10px;
        margin-left: 250px;
              
}

.Boton1
{
        margin-top: 20px;
        margin-left: 15px;
        width: 190px;
        height: 30px;
        display: flex;
        cursor: pointer;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        background-color: whitesmoke;
}

.Boton1:hover
{
        background-color: white;
}

.Info2
{
        margin-top: 740px;
        margin-left: 20px;
        margin-right: 170px;
        width: 540px;
        height: 430px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.Infod
{
        margin-top: 10px;
        color: gray;
}

.Infoda
{
        margin-top: 3px;
        margin-left: 10px;
        font-size: 5mm;
}

.Infodb
{
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 165px;
        font-size: 4mm;
}

.ImagenInfo2
{
        margin-top: -310px;
        margin-left: 375px;
              
}

.Boton2
{
        margin-top: 30px;
        margin-left: 10px;
        width: 55px;
        height: 30px;
        display: flex;
        cursor: pointer;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        background-color: whitesmoke;
}

.Boton2:hover
{
        background-color:white;
}

.Tablita2
{
        margin-top: 60px;
        width:195px;
        margin-left: 80px;
        font:normal 14px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
}


.Info3
{
        margin-top: 1190px;
        margin-left: 20px;
        margin-right: 170px;
        width: 540px;
        height: 360px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.Infoe
{
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 50px;
        font-size: 5mm;
}

.Infoea
{
        margin-top: 10px;
        margin-left: 105px;
        margin-right: 50px;
        font-size: 4mm;
}

.Infoeb
{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 0px;
        font-size: 4mm;
}


.Tablita3
{
        margin-top: 20px;
        width:195px;
        margin-left: -40px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
}

.ImagenInfo3
{
        margin-top: 10px;
        margin-left: 45px;
              
}

.Info4
{
        margin-top: 1400px;
        margin-left: 575px;
        margin-right: 170px;
        width: 527px;
        height: 460px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.Infof
{
        margin-top: 10px;
        color: gray;
}

.Infofa
{
        margin-top: 1px;
        margin-left: 15px;
        font-size: 5mm;
}

.Infofb
{
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 230px;
        font-size: 4mm;
}
.Infofbb
{
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 4mm;
}

.ImagenInfo4
{
        margin-top: -300px;
        margin-left: 290px;
              
}


.Tablita4
{
        margin-top: 140px;
        width:195px;
        margin-left: -10px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
}

.Boton3
{
        margin-top: 135px;
        margin-left: 160px;
        width: 140px;
        height: 30px;
        display: flex;
        cursor: pointer;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        background-color: whitesmoke;
}


.Tablita5
{
        margin-top: -25px;
        width:195px;
        margin-left: 280px;
        text-align:center;
        border-collapse:collapse;
        position: absolute;
}

.Info5
{
        margin-top: 1570px;
        margin-left: 20px;
        margin-right: 170px;
        width: 540px;
        height: 470px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.Infog
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 5mm;
}

.Infoga
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5
{
        margin-top: -23px;
        margin-left: 500px;
}

.Infogb
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 2mm;
}

.Infogc
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5a
{
        margin-top: -40px;
        margin-left: 500px;
}

.Infogd
{
        margin-top: 25px;
        margin-left: 15px;
        font-size: 2mm;
}

.Infoge
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5b
{
        margin-top: -40px;
        margin-left: 500px;
}

.Infogab
{
        margin-top: 25px;
        margin-left: 15px;
        font-size: 2mm;
}

.Infogac
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5c
{
        margin-top: -20px;
        margin-left: 500px;
}

.Infogad
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 2mm;
}

.Infogae
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.Infogaa
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 2mm;
}

.Infogba
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5d
{
        margin-top: -20px;
        margin-left: 500px;
}

.Infogbb
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 2mm;
}

.ImagenInfo5e
{
        margin-top: -40px;
        margin-left: 500px;
}

.Infogbc
{
        margin-top: 30px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5g
{
        margin-top: -25px;
        margin-left: 500px;
}

.Infogbd
{
        margin-top: 15px;
        margin-left: 15px;
        font-size: 2mm;
}

.Infogbe
{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 3mm;
}

.ImagenInfo5h
{
        margin-top: -40px;
        margin-left: 500px;
}

.Info6
{
        margin-top: 1880px;
        margin-left: 575px;
        margin-right: 170px;
        width: 527px;
        height: 390px;
        position: absolute;
        display: inline-block;    
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
}

.Infoi
{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 5mm;
}

.Infoia
{
        margin-top: 20px;
        margin-left: 100px;
        font-size: 3.5mm;
}

.ImagenInfo6
{
        margin-top: -35px;
        margin-left: 60px;
}

.Infoib
{
        margin-top: -33px;
        margin-left: 315px;
        font-size: 3.5mm;
}

.ImagenInfo6a
{
        margin-top: -35px;
        margin-left: 270px;
}

.Infoic
{
        margin-top: 20px;
        margin-left: 100px;
        font-size: 3.5mm;
}


.ImagenInfo6b
{
        margin-top: -35px;
        margin-left: 60px;
}

.Infoid
{
        margin-top: -33px;
        margin-left: 315px;
        font-size: 3.5mm;
}

.ImagenInfo6c
{
        margin-top: -35px;
        margin-left: 270px;
}

.Infoie
{
        margin-top: 20px;
        margin-left: 100px;
        font-size: 3.5mm;
}

.ImagenInfo6d
{
        margin-top: -35px;
        margin-left: 60px;
}

.Infoif
{
        margin-top: -33px;
        margin-left: 315px;
        font-size: 3.5mm;
}

.ImagenInfo6e
{
        margin-top: -35px;
        margin-left: 270px;
}

.Infoig
{
        margin-top: 20px;
        margin-left: 100px;
        font-size: 3.5mm;
}

.ImagenInfo6f
{
        margin-top: -35px;
        margin-left: 60px;
}

.Infoih
{
        margin-top: -33px;
        margin-left: 315px;
        font-size: 3.5mm;
}

.ImagenInfo6g
{
        margin-top: -35px;
        margin-left: 270px;
}

.Infoii
{
        margin-top: 20px;
        margin-left: 100px;
        font-size: 3.5mm;
}

.ImagenInfo6h
{
        margin-top: -35px;
        margin-left: 60px;
}

.Infoiia
{
        margin-top: -33px;
        margin-left: 315px;
        font-size: 3.5mm;
}

.ImagenInfo6i
{
        margin-top: -35px;
        margin-left: 270px;
}

.Infoiib
{
        margin-top: 30px;
        margin-left: 160px;
        font-size: 3.5mm;
}

.ImagenInfo6aa
{
        margin-top: -25px;
        margin-left: 120px;
}

.PieP
{
        margin-top: -0mm;
        margin-left: -8px;
        margin-right: 80px;
        position: absolute;
        display: inline-block; 
        width: 1142px;
        height: 160px;
        background-color: whitesmoke;
}

.InfoP
{
        margin-top: 30px;
        margin-left: 25px;
        margin-right: 10px;
        font-size: 3.5mm;
}

.InfoP1
{
        margin-top: 35px;
        margin-left: 25px;
        margin-right: 10px;
        font-size: 3.5mm;
}

.ImagenPie
{
        margin-top: -15px;
        margin-left: 955px;
}

.ImagenPie1
{
        margin-top: -31px;
        margin-left: 1050px;
}

.FondoG
{
        margin-top: 0px;
        margin-left: -211px;
        margin-right: 0px;
        width: 210px;
        height: 2470px;
        background-color: whitesmoke;
}

.FondoG1
{
        margin-top: -2508px;
        margin-left: -211px;
        width: 210px;
        height: 43px;
        background: linear-gradient(
                white,
                whitesmoke
);
}

.FondoG2
{
        margin-top: -42px;
        margin-left: 138px;
        width: 562px;
        height: 41px;
        background: linear-gradient(
                white,
                whitesmoke
);
}
body{
	background: white;
}


.margin-auto__content {
        margin: auto;
      }

